<div class="container">
	<h1>Edit: <%= @user.first_name %> <%= @user.last_name %></h1>
	<p class="error"><%= flash[:registration_errors] %></p>
	<form action="/users/<%= @user.id %>" method="post" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="patch">
				<label for="first_name" class="col-lg-2 control-label">First Name:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" name="first_name" value="<%= @user.first_name %>">
				</div>
			</div>
			<div class="form-group">
				<label for="last_name" class="col-lg-2 control-label">Last Name:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control"  name="last_name" value="<%= @user.last_name %>">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control"  name="email_address" value="<%= @user.email_address %>">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label">Password:</label>
				<div class="col-lg-6">
					<input type="password" class="form-control"  name="password" value="<%= @user.password %>">
				</div>
			</div>
			<div class="col-lg-offset-2">
				<input type="submit" class="btn btn-success" value="Update"> <a href="/users/<%= @user.id %>" class="btn btn-default">Back</a> <a href="/" class="btn btn-default">Home</a>
			</div>
		</fieldset>
	</form>
</div>